@font-face {
    font-family: Helvetica;  
    src: url(../fonts/HelveticaNeue-Regular.otf);  
}
@font-face {
    font-family: 'Raleway Bold';  
    src: url(../fonts/Raleway-Bold.ttf);  
}
@font-face {
    font-family: 'Raleway Semibold';
    src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face {
    font-family: 'Inter Semibold';
    src: url(../fonts/Inter-SemiBold.ttf);
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-Regular.ttf);
}