/******************
***** General *****
*******************/
.post-author {
    text-align: left;
    text-transform: uppercase;
    font-size: 13px;
    color: #999;
}
.raleway-bold {
    font-family: 'Raleway Bold', sans-serif;
}
.raleway-semibold {
    font-family: 'Raleway Semibold', sans-serif;
}
body {
    font-family: Helvetica;
}
p {
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    color: $text;
}