.widget_related_widget {
    position: sticky;
    height: max-content;
    top: 62px;
    background-color: $info;
    margin-top: 20px;
    .widget-title {
        font-family: 'Raleway Bold', sans-serif;
        font-size: 20px;
        font-weight: 700;
        border-bottom: 1px solid #C9C9C9;
        padding: 20px;
    }
    .row {
        padding: 0 20px;
    }
    .col-md-3 {
        font-family: 'Raleway Bold', sans-serif;
        font-size: 33px;
        margin-top: -15px;
        color: #C9C9C9;
        padding: 0;
    }
    .col-md-9 {
        padding-right: 20px;
    }
    h6 {
        font-family: 'Raleway Semibold', sans-serif;
        font-size: 14px;
        font-weight: 700;
        margin: 0;
    }
    p {
        font-size: 12px;
        color: #C9C9C9;
    }
}
.logged-in .widget_related_widget {
    top: 92px;
}