#review-left-sidebar {
    position: sticky;
    top: 90px;
    height: fit-content;
    .widget_custom_html {
        background-color: #F5FAFE;
        .widget-title {
            padding: 20px;
            border-bottom: 1px solid #C9C9C9;
            margin: 0;
            font-family: 'Raleway Bold', sans-serif;
        }
        .custom-html-widget {
            padding: 20px;
            ul {
                margin-top: 0;
            }
            li {
                margin-bottom: 15px;
                h6,
                li {
                    font-size: 16px;
                    margin-bottom: 15px;
                }
                h6 {
                    font-weight: 700;
                }
            }
        }
    }
}