#review-left-sidebar {
    position: sticky;
    top: 60px;
    height: max-content;
    .widget_custom_html:first-of-type {
        background-color: $info;
        padding-bottom: 30px;
        .widget-title {
            margin-bottom: 20px;
            padding: 20px;
            border-bottom: 1px solid #C9C9C9;
        }
        ul {
            display: block;
            padding-left: 20px;
        }
    }
    .widget_custom_html:last-of-type {
        margin-top: 20px;
        padding: 20px;
        background-color: #000;
        ul {
            padding-left: calc(8%);
        }
    }
    .custom-html-widget {
        
        ul {
            // display: block;
        }
    }
    
}
.logged-in #review-left-sidebar {
    top: 90px;
}
.widget_custom_html {
    // background-color: #232323 !important;
    .widget-title {
        padding: 20px;
        padding: 0;
        font-family: 'Raleway Bold', sans-serif;
    }
    .custom-html-widget {
        padding: 0;
        ul {
            margin-top: 0;
            display: flex;
        }
        li {
            margin-bottom: 0;
            margin-right: 10px;
            &:last-of-type {
                margin-right: 0;
            }
            h6,
            li {
                font-size: 16px;
                margin-bottom: 15px;
            }
            h6 {
                font-weight: 700;
            }
            a {
                background-color: #232323;
                padding: 8px;
                i {
                    width: 25px;
                    height: 25px;
                    text-align: center;
                    color: $white;
                }

            }
        }
    }
}