#review-left-sidebar {
    position: sticky;
    top: 60px;
    height: max-content;
    .ez-toc-widget-container {
        background-color: $info;
        padding-bottom: 30px; 
        .widget-title {
            margin-bottom: 20px;
            padding: 20px;
            border-bottom: 1px solid #C9C9C9;
            font-family: 'Raleway Bold', sans-serif;
            font-weight: 700;
        }
        ul {
            display: block;
            padding-left: 20px;
            .active::before {
                content: none;
            }
            a {
                text-decoration: none;
                color: $dark;
                font-size: 16px;
            }
        }
    }
    .widget_custom_html:last-of-type {
        padding: 20px;
        background-color: $dark;
        ul {
            justify-content: center;
        }
    }
    @media (max-width: 768px) {
        display: none;
    }   
}
.logged-in #review-left-sidebar {
    top: 90px;
}
.widget_custom_html {
     .widget-title {
        padding: 20px;
        padding: 0;
        font-family: 'Raleway Bold', sans-serif;
    }
    .custom-html-widget {
        padding: 0;
        ul {
            margin-top: 0;
            display: flex;
        }
        li {
            margin-bottom: 0;
            margin-right: 10px;
            &:last-of-type {
                margin-right: 0;
            }
            h6 a,
            li {
                font-size: 16px;
                margin-bottom: 15px;
                background-color: transparent;
            }
            a {
                font-weight: 700;
                text-decoration: none;
                background-color: #232323;
                color: $dark;
                padding: 8px;
                i {
                    width: 25px;
                    text-align: center;
                    color: $white;
                }

            }
        }
    }
}