#breadcrumbs {
    .text-muted {
        color: #999999 !important;
        position: relative;
        &::after {
            position: absolute;
            top: 50%;
            right: -2rem;
            transform: translateY(-50%);
            content: '';
            width: 15px;
            height: 2px;
            background: #666666;
        }
    }
}