.bg-about .container.about {
    background-color: transparent;
}
.bg-about {
    background-color: #F3F9FE;
    margin-bottom: 5rem;
}
.footer-widgets.bg-about {
    background: $dark;
}
.bg-clients {
    background-color: #F9F9F9;
}